#table_img{
	float: left;
	width: 100%;
	background-image: url(../images/professionals_1.jpg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 32%;
	background-position: 5%;
	margin: 10px 0 10px 0;
}

table{
	font-family: "Quantify";
	border-collapse: collapse;
    width: 62%;
    font-size: 20px;
    float: right;
    color: #fff;
}

th, td{
	border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #fff;
}

tr:hover{
	background-color: #ddd;
	color: #111;
}