#introduccio{
	float: left;
	background-image: url(../images/interior1.jpg);
	background-size: 40%;
	background-position: right;
	background-repeat: no-repeat;
	margin: 10px 0 0 10px;
}

#introduccio p{
	color: #fff;
	margin: 10px 20px;
	padding-right: 40%;
	text-align: justify;
	font-size: 18px;
}

#introduccio a{
	color: #8aef8a;
	text-decoration: none;
}